# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Package build artefacts
/doc/
/Meta/
/inst/doc/
*.tar.gz

# Compiled files
*.o
*.so
*.dll
src/*.o
src/*.so

# Tests
tests/testthat/_snaps/

# Temp / OS
.DS_Store
Thumbs.db
desktop.ini
